html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gill Sans', Arial, Helvetica, Sans-serif;
    font-size: 1em;
    background: white;
    color: #00007F;
}

.hidden {
    display: none;
}

#container {
    background: #FFFFFF;
    width: 95%;
    margin: auto;
    padding-bottom: 20px;
    padding: 10px;
}

#header {
    background: #001664;
    margin: auto;
    padding: 20px;
    text-align: center;
    color: white;
}

#content {
    margin: auto;
}

.codefont {
    font-family: Courier, Fixed;
}

.logfile {
    width: 80%;
    margin: auto;
    font-family: Courier, Fixed;
    font-size:  0.5em;
    color: green;
    padding: 1em;
    white-space: pre-wrap;
}

table {
    background: #BFBFBF;
}

table tbody tr td {
    text-align: left;
    font-family: Courier, Fixed;
    font-size: 0.7em;
    color: green;
}

td {
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.nowrap {
    white-space: nowrap;
}

.row1 {
    background: #EDF3FE;
    background: #CFFFCF;
}

.row2 {
    background: white;
}
