<style type="text/css">

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gill Sans', Arial, Helvetica, Sans-serif;
    font-size: 1em;
    background: white;
    color: #00007F;
}

.hidden {
    display: none;
}

#container {
    background: #FFFFFF;
    width: 95%;
    margin: 0;
    min-width:1200px;
    padding: 10px;
}

#header {
    background: #001664;
    margin: 0;
    padding: 10px;
    text-align: center;
    color: white;
}

#naviheader{
    background: #737CA1;
    margin: 0;
    padding: 0px;
    min-width:100%;
}

.clearfix:after {
    content: "";
    display: none;
    height: 0;
    clear: both;
    visibility: hidden;
}

.navileft {
    float:left;
    padding:10px;
}
.naviright {
    float:right;
    padding:10px;
}

#content {
    margin: 0;
    padding:0px;
    background:#F0F0F0;
    text-align:left;
    min-width:100%;
}

#sidebar {
    padding:10px;
    background:#FFFFFF;
    float:left;
    width:100px;
    min-height:100%;
}

#subpage {
    margin:0;
    padding:0;
    float:left;
    margin-left:100px;    
    float:left;
}

#description {
    background: #98AFC7;
    margin: 0;
    padding: 10px;
    text-align: left;
}

#pagecontent{
    background:#FFFFFF;
    margin:0;
    padding:10px;
    text-align:left;
}

.codefont {
    font-family: Courier, Fixed;
}

.logfile {
    width: 80%;
    margin: auto;
    font-family: Courier, Fixed;
    font-size:  0.5em;
    color: green;
    padding: 1em;
    white-space: pre-wrap;
}

table {
    background: #BFBFBF;
}

table tbody tr td {
    text-align: left;
    font-family: Courier, Fixed;
    font-size: 0.7em;
    color: black;
}

td {
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.translist {
    width:100%;
}

.nowrap {
    white-space: nowrap;
}

.row1 {
    background: #EDF3FE;
}

.row2 {
    background: white;
}

.type_sn {
    background: #FFC1C1;
}

.type_agn {
    background: #FFFF7E;
}

.type_other{
    background: #DFFFA5;
}    

#external_info{
    background:#F3F3F3;
    min-width:100%;
    padding:10px;
}

#smt_info{
    background:#E0E0E0;
    min-width:100%;
    padding:10px;
}

#lcplot {
    float:left;
    width:620px;
    height:520px;
    margin:5px;
    color:black;
}

#lc_lc {
    float:left;
    width:100px;
    margin:5px;
}

#lc_legend {
    clear:both;
    float:top;
    width:100px;
    color:black;
}

#lc_choices {
    float:top;
    width:100px;
    color:black;
    padding:5px;
}

#lc_thumbs {
    float:left;
    width:160px;
    margin:5px;
    margin-top:0;
    margin-bottom:0;
}

.thumbnail {
    width:100%;
    margin:3px;
}

#lc_details {
    float:left;
    max-width:250px;
    margin:5px;
    margin-top:0;
    margin-bottom:0;
}

#user_input {
    color:black;
}

.clearfix {display: inline-block;}  /* for IE/Mac */

</style><!-- main stylesheet ends, CC with new stylesheet below... -->

<!--[if IE]>
<style type="text/css">
  .clearfix {
    zoom: 1;     /* triggers hasLayout */
    display: block;     /* resets display for IE/Win */
    }  /* Only IE can see inside the conditional comment
    and read this CSS rule. Don't ever use a normal HTML
    comment inside the CC or it will close prematurely. */
</style>
<![endif]-->
