{% extends "base.html" %}

{% block header %}
SkyMapper Transient-monitoring Page - Log in
{% endblock %}

{% block navigation %}
You are not logged in or your have not signed up to view the Transient-monitoring Page.
{% endblock %}

{% block overview %}
{% endblock %}

{% block content %}
<center>Please log in </center>
<p>
  <form action="" method="post">{% csrf_token %}
    <label for="username">User name:</label>
    <input type="text" name="username" value="" id="username">
    <label for="password">Password:</label>
    <input type="password" name="password" value="" id="password">

    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next|escape }}" />
  </form>

<p>
<center>Or register <a href="/accounts/register/">here</a></center>

{% endblock %}

