{% extends "base.html" %} 
{% load mytags %}

{% block header %}
Transient Candidates for {{dailystats.date_display}}
{% endblock %}

{% block navigation %}
<table border=0 width=90%>
<tr><td width=75%><a href="/scanner/"> Go to Scanner Home </a></td>
<td width=20%>logged in as user: {{user.username}}</td>
<td width=5%><a href="/accounts/logout/"> log out </a></td>
</tr></table>
{% endblock %}

{% block overview %}
<table border=0 width=90% cellspacing=2 cellpadding=2>
<tr><td width=50%>
<table border=0 cellspacing=2 cellpadding=2>
<tr><td colspan=2> On night {{dailystats.date_display}}:</td></tr>
<tr><td width=50%># of exposures</td><td align=left>{{dailystats.n_exposure}}</td></tr>
<tr><td width=50%># of successful subtractions</td><td align=left>{{dailystats.n_subtraction}}</td></tr>
<tr><td width=50%># of candidates</td><td align=left>{{dailystats.n_candidate}}</td></tr>
<tr><td width=50%># of new candidates</td><td align=left>{{dailystats.n_new_candidate}}</td></tr>
<tr><td width=50%># of known SNe/Novae</td><td align=left>{{dailystats.n_known}}</td></tr>
<tr><td colspan=2></td></tr>
<tr><td colspan=2>
{% if dailystats.n_candidate == dailystats.n_scanned %}
All {{dailystats.n_candidate}} candidates have been user typed.
{% else %}
{{dailystats.n_scanned}} out of {{dailystats.n_candidate}} candidates
have been user typed.
{% endif %}
</td></tr>
</table>
</td>
<td>
<p>(add a map ra/dec view of candidates?)
<p>(color coded)
</td></tr>
</table>

{% endblock %}

{% block content %}
<table border=2 width=90% cellspacing=2 cellpadding=2>
<thead>
<tr>{% table_header headers %}</tr>
</thead>
<tbody>
{% for cand in dailycand %}
<tr 
{% if cand|get_tb_field:'type_best' in '' %} bgcolor=#DFFFA5 {% endif %}
{% if cand|get_tb_field:'type_best' in 'AGN' %} bgcolor=#FFC1C1 {% endif %}
{% if cand|get_tb_field:'type_best' in 'SN' %} bgcolor=#FFFF7E {% endif %}
>
<td>{{cand|get_tb_field:'rbscore'}}</td>
<td><a href="/scanner/cand_{{cand|get_tb_field:'name'}}/">{{cand|get_tb_field:'name'|escape}}</a></td>
<td>{{cand|get_tb_field:'ra_best'|as_sixty:"hour"}}</td>
<td>{{cand|get_tb_field:'dec_best'|as_sixty:"degree"}}</td>
<td>{{cand|get_tb_field:'filter'}}</td>
<td>{{cand|get_tb_field:'mag'|floatformat:2}}</td>
<td>{{cand|get_tb_field:'mag_err'|floatformat:2}}</td>
<td>{{cand|get_tb_field:'fwhm'|floatformat:1}}</td>
<td>{{cand|get_tb_field:'field'|escape}}</td>
<td>{{cand|get_tb_field:'ccd'}}</td>
<td>{{cand|get_tb_field:'type_auto'|escape}}</td>
<td>{{cand|get_tb_field:'type_best'|escape}}</td>
<td>{{cand|get_tb_field:'type_best_user'|escape}}</td>
<tr>
{% endfor %}
</table>
{% endblock %}
