{% extends "smt_base.html" %}

{% block content %}
<div id="description">
  <p>The SkyMapper Transient (SMT) search is a rolling search of the southern and
    equatorial sky utilizing the SkyMapper Telescope. The search is designed
    to ulitize the poor seeing nights at SSO, covering approximately 1000 deg2 per
    full night with an expected cadence of 3-4 nights. 
  <p>The SkyMapper Transients survey will provide a new capability to identify and
    study transient object in greater detail than ever before. As one of the
    flagship missions of the ARC Centre for Excellence in All- Sky Astrophysics
    (CAASTRO), SkyMapper transients will contribute signicantly to the study
    of both the Dynamic Universe and the Dark Universe. While 70% of the
    SkyMapper SN discoveries will be Type Ia supernovae (SNe Ia) useful for
    probing Dark Energy, the remainder of these dynamic events will probe the
    diversity of explosions throughout the Universe.
  <p>
  <p>SkyMapper is currently undergoing science commissioning, with data quality
    already at the level expected for the regular SMT operations. The SMT image
    subtraction pipeline is operating in development mode.
</div>

<div id="pagecontent">
  <p>The SMT pipeline has been running for {{smt_stats.n_nights}}
    nights. {{smt_stats.n_fields}} sky fields have been observed in
    {{smt_stats.n_pointings}} pointings. {{smt_stats.n_trans}} objects have been
    flagged by the pipeline as potentially interesting transient candidates.
    
{% if last_obsnight %}
  <p>If you are a SMT team member, you can choose to:
    <ul>
      <li>Check <a href="{% url smt_map%}">survey coverage</a></li>
      <li>Check <a href="{% url smt_cadence%}">survey cadence</a></li>
      <li><a href="{% url trans_date last_obsnight.year last_obsnight.month last_obsnight.day %}">View
	  transient candidates detected in the last night of observation
	  ({{last_obsnight|date:"Y-m-d"}})</a></li>
      <!--    <li><a href="jobstats/{{last_obsnight.year}}/{{last_obsnight.month}}/{{last_obsnight.day}}/">View
	      pipeline job stats for the last night of observation
	      ({{last_obsnight|date:"Y-m-d"}})</a></li> -->
      <!--    <li><a href="{% url trans_all %}">View all transient candidates detected so far </a></li>-->
      <li>
	<form action="" method="post" onSubmit=true>{% csrf_token %}
	  Select a date to view its list of transient candidates (currently only the ones LAST detected on that night)
	  <br>
	  <select name=smt_trans_night>{% for night in smt_nights %}<option>{{night.ut_date|date:"Y-m-d"}}{% endfor %}</select>
	  <input type=submit value="Go to Date (transients)">
	</form>
      </li>
      <!--    <li>
	      <form action="" method="post" onSubmit=true>{% csrf_token %}
		Select a date to view its subtraction job stats
		<br>
		<select name=smt_logs_night>{% for night in smt_nights %}<option>{{night.ut_date|date:"Y-m-d"}}{% endfor %}</select>
		<input type=submit value="Go to Date (jobs)">
	      </form>
      </li> -->
      <li>
	<form action="" method="post" onSubmit=true>{% csrf_token %}
	  Select a SMT transient to view its relavent information
	  <br>
	  <select name=smt_transient>{% for name in smt_trans %}<option>{{name.name}}{% endfor %}</select>
	  <input type=submit value="Go to Transient">
	</form>
      </li>
      <li>
	<form action="" method="post" onSubmit=true>{% csrf_token %}
	  Select a SMT pipeline run to view its relavent information
	  <br>
	  <select name=smt_run>{% for name in smt_runs %}<option>{{name.runtag}}{% endfor %}</select>
	  <input type=submit value="Go to PipelineRun">
	</form>
      </li>
    </ul>

  <p>Links for external collaborators:
    <ul>
      <li><a href="{% url page_pessto %}">PESSTO</a>
      </li>
    </ul>

{% endif %}
</div>
{% endblock %}




