{% extends "smt_base.html" %}

{% block content %}
<div id="description">
  {% if validlink %}
  <p>Please enter your new password below twice.<br />
    So we can verify you typed it in correctly.</p>
 
  {% else %}
  <h1>Password reset unsuccessful</h1>
  <p>The password reset link was invalid, <br />
    possibly because it has already been used. <br />
    Please request a new password reset.</p>
  {% endif %}
</div>

<div id="pageconten">
<center>
  {% if validlink %}
  <form action="" method="post">{% csrf_token %}
    <table>
      <tr>
        <td>{{ form.new_password1.errors }}
          <label for="id_new_password1">New
            password:</label></td>
        <td>{{ form.new_password1 }}</td>
      </tr>
      <tr>
        <td>{{ form.new_password2.errors }}
          <label for="id_new_password2">Confirm
            password:</label></td>
        <td>{{ form.new_password2 }}</td>
      </tr>
      <tr>
        <td></td>
        <td><input type="submit" value="Change my password"
                   /></td>
      </tr>
    </table>
  </form>
  {% endif %}
</center>
</div>
{% endblock %}
